body {
  font-family: "Libre Franklin", sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 50px;
}
.top-section {
  background-image: url(../images/donation13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.top-banner p{
  margin-bottom: 50px;
}
.top-banner {
  color: white;
  text-align: center;
  padding: 200px 20%;
}
.button-link {
  margin-top: 150px;
  text-decoration: none;
  color: white;
  background-color: #ff5959;
  padding: 10px 20px;
  border-radius: 5px;
}
.donete{

}
.donate-today {
  margin: 15%;
  text-align: center;
} 
.donate-today p{
  margin-bottom: 20px;
}
.flexible-cont {
  display: flex;
}
.list-item{
margin: 5% 20%;
}
.list-item a{
text-decoration: none;

}
.taka{
    background-color: rgb(200, 200, 200) ;
    color: white;
    padding: 20px 20px;
    border-radius: 5px;
    margin: 15px 15px;
}

#amount-box{
  border: none;
  border-bottom:2px solid grey;
  padding: 10px;
  margin-bottom: 50px; 
  color: rgb(114, 114, 154);
  align-items: center;
  width: 400px;
  text-align: center;
}
#color-taka-box{
  color:rgb(255, 89, 89) ;
  background-color: rgb(255, 238, 238);
  border: 2px solid rgb(255, 89, 89);
}
.main-plan-box{
margin:5% 20% 5% 20%;
}
.plan-box{
 background-color: aquamarine;
 padding: 20px;
 margin-left: 20px;
 width:300px;
 height:300px;
 border-radius: 5px;

}
#color-one{
  background-color: rgb(224, 255, 224) ;
}
#color-two{
  background-color: rgb(253, 243, 243);
}
#color-three{
  background-color: rgb(194, 239, 255);
}

